@import './assets/fonts/made_tommy/stylesheet.css';
body {
  font-family: 'Poppins', sans-serif;
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: '100%';
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
}

@media only screen and (max-width: 600px) {
  .slider .slide-track {
    animation: scroll 20s linear infinite;
  }
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
